/exemplos/Main/build/
/1_BIM/exercicios/ExercicioEditoraLivros/nbproject/private/
/1_BIM/exercicios/ExercicioListaEncadeada/nbproject/private/
/1_BIM/exercicios/ExercicioListaEncadeada/build/
/1_BIM/trabalhos/algoritmos_trabalho/nbproject/private/
/1_BIM/trabalhos/algoritmos_trabalho/build/
/1_BIM/trabalhos/TRABALHO_ListaGen_mais_AlgorOrgan/nbproject/private/
/1_BIM/trabalhos/TRABALHO_ListaGen_mais_AlgorOrgan/build/